/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
    font-family: slabo-regular;
    src: url(./assets/fonts/Slabo27px-Regular.ttf);
}

@font-face {
    font-family: righteous-regular;
    src: url(./assets/fonts/Righteous-Regular.ttf);
}

body {
    @apply bg-indigo-900 text-gray-50
}